<form action="/prove02/addData" method="POST">
    <table>
        <tr>
            <td>Title: </td>
            <td><input type="text" name="input1"></td>
        </tr>
        <tr>
            <td> Summary: </td>
            <td><textarea name="input2"></textarea></td>
        </tr>
    </table>
    <button type="submit">Submit</button>
</form>