<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
</head>
<body>
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
    <p>This is the placeholder for Team Activity 02</p>
  </div>
</div>
<div class="container">
<form action = '/ta02/addUser' method='POST'><input type="text" name="newName"><button type="submit">Add Name</button></form>
<% for (let name of names) { %>
<%= name %><br/>
<% }; %>

<form action = '/ta02/removeUser' method='POST'><input type="text" name="oldName"><button type="submit">Remove Name</button></form>

  
</div>
</body>
</html>